
*{
    font-family: 'Roboto', sans-serif;   
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    background: #d2cfbf;
    -webkit-box-shadow: 10px 3px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 31px 0px rgba(0,0,0,0.75);
}
ul li {
    padding: 0 0 2% 0;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    font-family: 'Roboto', sans-serif;   
}
.header ul li {
    margin-top: 5%;
}
.header ul li a{
    padding-left: 2%;
}
.header h1 {
    font-weight: bold;
    font-size: 28px;
}
.header h2 {
    font-weight: bold;
    font-size: 24px;
    
}
.header_logo img{
    border-radius: 50%;
}
.main {
    padding: 0 5%;
}
.main_info ul {
    margin-left: 4%;
}
.main_info ul li{
    list-style: outside;
}
.main h2  {
    font-size: 25px;
    font-weight: bold;  
    padding-bottom: 2%; 
    text-transform: uppercase;
    
}
.main h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1%;
    font-style: italic; 
}

.main .main_info {
    padding: 3% 0% 1% 0%;
    box-shadow: 0px -1px 0px 0px grey;
}
#main_info_1{
    box-shadow: none;
}
